@model TrashCollector1.Models.RegularPickup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RegularPickup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupDayOfWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupDayOfWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PickupActive }) |
    @Html.ActionLink("Back to List", "Index")
</p>
