@model IEnumerable<TrashCollector1.Models.Customer>

@{
    ViewBag.Title = "EmployeeTodayPickups";
}

<h2>Employee Today Pickups</h2>


<table class="table table-hover">
    <tr class="table-primary">
        <th scope="col">
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.City)
        </th>

        <th scope="col">
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.SpecialPickupDate)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.AccountSuspendDate)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.AccountSuspendEndDate)
        </th>

        <th scope="col">
            @Html.DisplayNameFor(model => model.PickupCompleted)
        </th>
        

        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
    <tr class="table-info">
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialPickupDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountSuspendDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountSuspendEndDate)
        </td>
        
            <td>
                @Html.CheckBoxFor(modelItem => item.PickupCompleted)
            </td>
           
            <td>
                @Html.ActionLink("Confirm Pickup", "ConfirmPickup", new { id = item.Id }) |
                @Html.ActionLink("Details", "CustomerDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
    </tr>
        


    }

    }
</table>

