@model IEnumerable<TrashCollector1.Models.Customer>

@{
    ViewBag.Title = "SelectWeekday";
}

<h2>View Searched @(ViewBag.dayToSee) pickups:</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialPickupDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountSuspendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountSuspendEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupCompleted)
        </th>
        
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialPickupDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountSuspendDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountSuspendEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupCompleted)
                </td>
                
               
            </tr>
        }
    }

    </table>
