@model TrashCollector1.Models.Customer

@{
    ViewBag.Title = "DetailsOfSuspendedAccount";
}

<h2>Details Of Suspended Account</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.AccountSuspendDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountSuspendDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountSuspendEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountSuspendEndDate)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditSuspendAccount", new { id = Model.Id }) |
   
</p>

